__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.log

.venv/
venv/
env/

.env
.env.*

.vscode/
.idea/
.DS_Store

models/

vector_db/

knowledge_base/
uploaded_pdfs/

processed_chunks/
analytics/
feedback_db/

fonts/
